<div class="book flex-column">
  <div class="image">
    <img src= <%= book.url === './img/book-icon.png' ? '../img/book-icon.png' : book.url %> alt="<%= book.title; %>">
  </div>
  <h3> <%= book.title; %> </h3>
  <h4> <%= book.author; %> </h4>
  <% if(show) { %>
    <p><%= book.description; %> </p>
    <p> ISBN: <%= book.isbn; %> </p>
    <p>Bookshelf: <%= book.bookshelf; %> </p>
    <div class="flex-row">
      <button id="update" class="button narrow">Update Details</button>
      <form class="narrow" action="/books/<%= book.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value=" <%= book.id %>">
        <button id="delete" class="button">Delete Book</button>
      </form>
    </div>
  <% } else { %>
    <a href="/books/<%= book.id %>""><button class="button">View Details</button></a>
  <% } %>
</div>
