<!DOCTYPE html>
<html lang="en">
<head>
  <title>Books</title>
</head>
<body>
<%- include('../layout/head.ejs'); %>
    <section class="books">
      <% if(books) { %>
        <% books.forEach( book => { %>
          <%- include('./books/detail', {show:false, book:book} ) %>
        <% }); %>
      <% } else { %>
        <div class="flex-column">
          <h3> No books with <%= searchType %> <%= searchCriteria %> found. Please refine search criteria and <a href="./">try again</a><h3>
        </div>
      <% }; %>
    </section>


 <section>
    <h2><span><%= books.length %></span>Saved Books</h2>
  </section>

  <main>

      <ul>
        <% books.forEach(book => { %>
          <li data-id="<%= book.id %>">
            <img src=<%= book.image_url %>>
            <h3><%= book.author %></h3>
            <p><%= book.title %></p>
            <p><%= book.description %></p>
            <p><%= book.bookshelf %></p>
            <p> ISBN: <%= book.isbn %></p>  
          </li>
      <%  }) %>
      </ul>
  </main>
  <footer>

  </footer>
</body>
</html>