<!DOCTYPE html>
<html lang="en">
<head>
  <title>Books</title>
</head>
<body>
<%- include('../layout/head.ejs'); %>

 <header>
    <h2><span><%= books.length %></span>Saved Books</h2>
  </header>

    <section class="books">
      <% if(books) { %>
        <% books.forEach( book => { %>
          <%- include('./books/detail', {show:false, book:book} ) %>
        <% }); %>
      <% } else { %>
        <div class="flex-column">
          <h3> No books with <%= searchType %> <%= searchCriteria %> found. Please refine search criteria and <a href="./">try again</a><h3>
        </div>
      <% }; %>
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>